In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import quandl

In [6]:
ativos = ['ITSA4.SA','WEGE3.SA']

In [7]:
inicio = '2020-01-01'
fim = '2021-10-06'

In [8]:
preco = pd.DataFrame()

for i in ativos :
  preco[i] = yf.download(i,start = inicio, end = fim)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [9]:
preco

             ITSA4.SA   WEGE3.SA
Date
2020-01-02  13.515138  17.296629
2020-01-03  13.317356  17.075760
2020-01-06  13.289100  17.119936
2020-01-07  13.110156  17.252459
2020-01-08  12.912372  16.599659
...               ...        ...
2021-09-29  11.240000  39.869999
2021-09-30  11.140000  39.630001
2021-10-01  11.420000  40.169998
2021-10-04  11.160000  38.779999
2021-10-05  11.330000  37.529999

[435 rows x 2 columns]