In [1]:
import yfinance as yf
import pandas as pd
import numpy as np
import quandl

In [18]:
ativos = ['ITSA4.SA','WEGE3.SA','CASH3.SA','ODPV3.SA']

In [19]:
inicio = '2020-01-01'
fim = '2021-10-06'

In [20]:
preco = pd.DataFrame()

for i in ativos :
  preco[i] = yf.download(i,start = inicio, end = fim)['Adj Close']

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [21]:
preco

             ITSA4.SA   WEGE3.SA  CASH3.SA   ODPV3.SA
Date
2020-01-02  13.515137  17.296631       NaN  15.545965
2020-01-03  13.317354  17.075760       NaN  15.737889
2020-01-06  13.289101  17.119934       NaN  15.619081
2020-01-07  13.110153  17.252460       NaN  15.216953
2020-01-08  12.912372  16.599661       NaN  15.262650
...               ...        ...       ...        ...
2021-09-29  11.240000  39.869999      6.25  16.400000
2021-09-30  11.140000  39.630001      6.01  16.459999
2021-10-01  11.420000  40.169998      6.29  15.900000
2021-10-04  11.160000  38.779999      5.77  15.090000
2021-10-05  11.330000  37.529999      5.61  14.300000

[435 rows x 4 columns]